* {
    font-family: 'Averta', sans-serif;
    margin: 0;
}

/* ################## ENCABEZADO ################## */

/* FALTA QUE FUNCIONE TEXT-DECORATION PARA QUE NO SALGA SUBRAYADO, PERO NO ME VA */

header {
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    float: right;
    width: 400px;
    text-align: right;
}

ul a {
    display: inline-block;
    margin-left: 20px;
}


/* ################## DESCUENTOS Y OFERTAS ################## */

/* Título vista */
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

/* Título de las ofertas y descuentos */
h2 {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

/* Imágenes */
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #c2c2c2;
}

/* Descripción del producto */
p {
    margin-top: 10px;
    text-align: center;
}

/* Producto y comentario */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

/* Textbox de título y comentario */
input[type="text"], textarea[id="comentario"] {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

/* Botón de publicar */
main button {
    background-color: #333;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

    /* Qué hacer al pasar el ratón por encima */
    main button:hover {
        background-color: #444;
    }

/* ################## FOOTER ################## */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Color de los iconos del footer */
a {
    color: #fff;
}

/* Iconos de las redes sociales */
.fa {
    padding: 10px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
}

/* Para cuando pasas el ratón por encima de facebook */
.fa-facebook:hover {
    color: #3B5998;
    transform: scale(2);
}

/* Para cuando pasas el ratón por encima de twitter */
.fa-twitter:hover {
    color: #55ACEE;
    transform: scale(2);
}

/* Para cuando pasas el ratón por encima de instagram */
.fa-instagram:hover {
    color: #E1306C;
    transform: scale(2);
}
