* {
    font-family: 'Averta', sans-serif;
    margin: 0;
}

/* ################## DESCUENTOS Y OFERTAS ################## */

/* Título vista */
h1 {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/* Título de las ofertas y descuentos */
h2 {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/* Matriz de columnas y filas */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Ajustar el tamaño entre filas */
    max-width: 1000px; /* Tamaño de la foto */
    margin: 0 auto;
}

/* Filas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

/* Columnas */
.col {
    flex-basis: calc(33.33% - 20px);
}

/* Imágenes */
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #c2c2c2;
}

/* Descripción de las ofertas */
p {
    margin-top: 10px;
    text-align: center;
}