.servicio-container {
    display: flex;
    align-items: center;
}

.servicio-imagen-img {
    /* Estilos adicionales para el elemento img */
    margin-left: 100px;
    margin-right: 300px;
    margin-bottom: 50px;
    width: 500px;
    height: auto;
    /* Otros estilos personalizados */
}

.servicio-contenido {
    flex: 1 1 auto;
}

.p-servicio {
    color: #ffa31a;
    font-size: 25px;
    text-shadow: 0 0 10px #ffa31a, 0 0 20px #ffa31a, 0 0 30px #ffa31a, 0 0 40px #ffa31a;
    animation: neon 1.5s ease-in-out infinite alternate;
}

