.container-servicio {
    align-items: center;
    width: 50%;
}

.img-servicio2 {
    width: 100px;
    height: 200px;
    margin-bottom: 600px;
    margin-left: 100px;
    border-color: red;
}


.content-container-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.h1-servicio {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffa31a;
    font-size: 50px;
    text-shadow: 0 0 10px #ffa31a, 0 0 20px #ffa31a, 0 0 30px #ffa31a, 0 0 40px #ffa31a;
    animation: neon 1.5s ease-in-out infinite alternate;
}

.h3-servicio {
    margin-top: 0;
    font-size: 25px;
    color: #ffa31a;
    text-align: center;
    text-shadow: 0 0 10px #ffa31a, 0 0 20px #ffa31a, 0 0 30px #ffa31a, 0 0 40px #ffa31a;
    animation: neon 1.5s ease-in-out infinite alternate;
}

.p-servicio {
    font-size: 20px;
    line-height: 1.5;
    color: #ffa31a;
    text-shadow: 0 0 10px #ffa31a, 0 0 20px #ffa31a, 0 0 30px #ffa31a, 0 0 40px #ffa31a;
    animation: neon 1.5s ease-in-out infinite alternate;
}
